<div id="edit-password" class="m-auto w-100 text-center" v-cloak>
  <div class="box container-fluid">
    <h3 class="mb-4">Change password</h3>
    <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
      <div class="form-group input-area">
        <div class="input-label text-left">Password</div>
        <input class="input-input" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="" autocomplete="new-password" focus-first>
        <div class="invalid-feedback" v-if="formErrors.password">Please enter a password or choose "Cancel".</div>
      </div>
      <div class="form-group input-area" :class="(formErrors.confirmPassword && formErrors.confirmPassword === 'sameAs') ? 'input-incorrect' : ''">
        <div class="input-label text-left">Confirm password</div>
        <input class="input-input" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" autocomplete="new-password" placeholder="">
        <div class="invalid-feedback" v-if="formErrors.confirmPassword">Your new password and confirmation do not match.</div>
      </div>
      <cloud-error v-if="cloudError"></cloud-error>
      <div class="form-group mt-4">
        <ajax-button type="submit" :syncing="syncing" class="button">Save changes</ajax-button>
      </div>
    </ajax-form>
    <p class="text-center"><a href="/account">Cancel</a></p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
