<div id="blog0" class="m-auto w-100 h-100" style="background-color: rgb(15, 16, 19); height: 100vh">
  <div class="pt-3 pl-3 d-flex justify-content-between" style="top: 0; left: 0; width: 100%; height: 50px">
    <a href="/" title="Bento Wallet" class="d-inline-block">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="452.000000pt" height="452.000000pt" viewBox="0 0 452.000000 452.000000" preserveAspectRatio="xMidYMid meet" style="
        width: 40px;
        height: 40px;
        display: block;
      ">
        <g transform="translate(0.000000,452.000000) scale(0.100000,-0.100000)" fill="#FFFFFF" stroke="none">
          <path d="M823 3936 c-59 -19 -103 -49 -157 -106 -59 -63 -84 -118 -96 -212
                -13 -97 -13 -2619 0 -2716 13 -96 38 -150 99 -215 63 -66 135 -104 226 -117
                71 -10 2067 -15 2077 -5 4 5 -13 130 -43 308 l-11 67 -424 0 -424 0 0 755 0
                755 340 0 340 0 -6 53 c-3 28 -11 111 -17 182 l-12 130 -320 5 -320 5 -3 378
                -2 377 755 0 755 0 0 -191 0 -191 181 -446 c100 -246 186 -451 190 -456 12
                -14 11 1231 -1 1324 -6 45 -21 96 -37 128 -32 64 -110 139 -178 173 l-50 24
                -1410 2 c-1140 1 -1418 -1 -1452 -11z m867 -736 l0 -380 -372 2 -373 3 -3 378
                -2 377 375 0 375 0 0 -380z m0 -1035 l0 -285 -375 0 -375 0 0 285 0 285 375 0
                375 0 0 -285z m0 -940 l0 -285 -375 0 -375 0 0 285 0 285 375 0 375 0 0 -285z"></path>
          <path d="M3195 3412 c-44 -20 -82 -37 -84 -38 -5 -4 1049 -3076 1068 -3109 26
                -45 74 -68 141 -68 111 1 190 77 190 182 0 27 -176 471 -611 1542 -336 827
                -614 1509 -617 1515 -5 8 -33 0 -87 -24z"></path>
          <path d="M2920 3391 c-71 -13 -85 -19 -88 -36 -4 -33 387 -3248 399 -3278 7
                -15 20 -39 31 -52 18 -24 25 -25 122 -25 90 0 107 3 130 21 32 25 52 62 61
                111 5 26 -70 476 -276 1650 -155 887 -285 1616 -288 1619 -3 3 -44 -2 -91 -10z"></path>
        </g>
      </svg>
    </a>
    <span class="py-3 pr-5">
      <a class="d-inline-block mr-3" href="/blog" style="color: white"><h5>Blog</h5></a>
      <a class="white-button" href="/login" title="Launch" style="font-size: 1.2rem;">
        Launch Bento Wallet
      </a>
    </span>
  </div>

  <span class="landing-page-bcg" style="position: absolute; height: 250px">
    <span class="landing-page-overlay">
    </span>
  </span>

  <div class="mx-auto landing-res-class1 text-left" style="margin-top: 150px; max-width: 1000px; padding: 4rem; font-size: 1.3rem; position: relative">
    <h1 class="mb-4 landing-res-class2 text-center" style="font-size: 3rem;">
      Bento: your next Bitcoin wallet online
    </h1>
    <h2 class="mb-5 landing-res-class3 text-center" style="font-weight: 300;">
      Where do you keep your Bitcoin? An overview of different wallet solutions.
    </h2>
    <p>
      A Bitcoin wallet is a software program in which Bitcoins are stored. They provide the tools required to interact with a blockchain. The four main types are desktop, mobile, web, and hardware.
    </p>
    <h3 class="text-center pt-3">Advice</h3>
    <p>
      For small amounts which are less than a price of a hardware wallet, use Web or Mobile wallet (like this one - Bento is a Web wallet). If you have advanced computer skills and are confident in your computer, use Desktop wallet. If you are planning to store higher amounts of Bitcoin, use hardware wallet.
    </p>
    <h3 class="text-center pt-3">Types</h3>
    <h4 class="pt-5" style="color: grey">Web Wallets</h4>
    <p>
      Web wallets facilitate access to Bitcoins from anywhere, on any browser or mobile device. Service providers will hold and manage the private keys on your behalf. Although this is convenient, it's opens you up to a small possibility of keys being lost or hacked.
    </p>
    <h4 class="pt-3" style="color: grey">Desktop Wallets</h4>
    <p>
      Desktop wallets are applications downloaded and installed onto your computer, storing your private keys on your hard drive. It's important to make sure your computer is clean of viruses and malware before setting up and using a cryptocurrency wallet.
    </p>
    <h4 class="pt-3" style="color: grey">Mobile Wallets</h4>
    <p>
      Mobile wallets function much like their desktop counterparts but designed specifically as smartphone applications.
    </p>
    <h4 class="pt-3" style="color: grey">Hardware Wallets</h4>
    <p>
      Hardware wallets are by far the most secure type of Bitcoin wallet as they store Bitcoins on a physical piece of equipment that is usually plugged into a computer via a USB port. They are practically immune to virus attacks, and few instances of Bitcoin theft have been reported. These devices are the only Bitcoin wallets that are not free, and they often cost between $100 to $200.
    </p>
    <br/>
    <h3 class="text-center pt-3">How does it work?</h3>
    <p>
      The wallet includes an address, which is an alphanumeric identifier that is generated based on the public and private keys. Such an address is, in essence, a specific "location" on the blockchain to which coins can be sent to. This means you can share your address with others to receive funds, but you should never disclose your private key to anyone.
    </p>
    <p>
      The private key (or seed/mnemonic phrase) gives access to your cryptocurrencies, regardless of which wallet you use. So even if your decide to use a different wallet solution, you can still access your funds using a different method.
    </p>
  </div>

</div>
