<div id="500" class="m-auto w-100">
  <div class="box container-fluid text-center pt-5 pb-5">
    <h2 class="mb-4">Oh my.</h2>
    <h5>We've encountered an unexpected error.</h5>
    <div>
      <p>Need help with your account? Please <a href="/contact">let us know</a>.</p>
    </div>
  </div>
</div>
