<div id="landing" class="m-auto w-100 h-100" style="position: absolute; background-color: rgb(15, 16, 19); height: 100vh">
  <div class="pt-3 pl-3" style="top: 0; left: 0; width: 100%; height: 50px">
    <a href="/" title="Bento Wallet" class="d-inline-block">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="452.000000pt" height="452.000000pt" viewBox="0 0 452.000000 452.000000" preserveAspectRatio="xMidYMid meet" style="
        width: 40px;
        height: 40px;
        display: block;
      ">
        <g transform="translate(0.000000,452.000000) scale(0.100000,-0.100000)" fill="#FFFFFF" stroke="none">
          <path d="M823 3936 c-59 -19 -103 -49 -157 -106 -59 -63 -84 -118 -96 -212
                -13 -97 -13 -2619 0 -2716 13 -96 38 -150 99 -215 63 -66 135 -104 226 -117
                71 -10 2067 -15 2077 -5 4 5 -13 130 -43 308 l-11 67 -424 0 -424 0 0 755 0
                755 340 0 340 0 -6 53 c-3 28 -11 111 -17 182 l-12 130 -320 5 -320 5 -3 378
                -2 377 755 0 755 0 0 -191 0 -191 181 -446 c100 -246 186 -451 190 -456 12
                -14 11 1231 -1 1324 -6 45 -21 96 -37 128 -32 64 -110 139 -178 173 l-50 24
                -1410 2 c-1140 1 -1418 -1 -1452 -11z m867 -736 l0 -380 -372 2 -373 3 -3 378
                -2 377 375 0 375 0 0 -380z m0 -1035 l0 -285 -375 0 -375 0 0 285 0 285 375 0
                375 0 0 -285z m0 -940 l0 -285 -375 0 -375 0 0 285 0 285 375 0 375 0 0 -285z"></path>
          <path d="M3195 3412 c-44 -20 -82 -37 -84 -38 -5 -4 1049 -3076 1068 -3109 26
                -45 74 -68 141 -68 111 1 190 77 190 182 0 27 -176 471 -611 1542 -336 827
                -614 1509 -617 1515 -5 8 -33 0 -87 -24z"></path>
          <path d="M2920 3391 c-71 -13 -85 -19 -88 -36 -4 -33 387 -3248 399 -3278 7
                -15 20 -39 31 -52 18 -24 25 -25 122 -25 90 0 107 3 130 21 32 25 52 62 61
                111 5 26 -70 476 -276 1650 -155 887 -285 1616 -288 1619 -3 3 -44 -2 -91 -10z"></path>
        </g>
      </svg>
    </a>
  </div>

  <span class="landing-page-bcg">
    <span class="landing-page-overlay">
    </span>
  </span>

  <div class="mx-auto landing-res-class1" style="margin-top: 150px; max-width: 1000px; padding: 4rem; position: relative">
    <h1 class="mb-4 landing-res-class2" style="font-size: 3rem;">
      Bento is an easy-to-use, lightweight, online Bitcoin wallet.
    </h1>
    <h2 class="mb-5 landing-res-class3" style="font-weight: 300;">
      Receive and send Bitcoin with one click.
    </h2>
    <div>
      <a class="white-button" href="/login" title="Launch" style="font-size: 1.2rem;">
        Launch Bento Wallet
      </a>
    </div>
  </div>

  <div class="pl-3 pt-1 position-fixed" style="bottom: 0; left: 0; width: 100%; height: 50px;">
    <a href="https://github.com/MoneyB4dger/bento-wallet" target="_blank" title="Bento Wallet GitHub" class="d-inline-block">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FFFFFF" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
    </a>
  </div>

</div>
